@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-theme: #FFFDFB;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-height: 64px;
  --footer-height: 100px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-theme: 0, 0, 0;
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}